.userImage{
    width: 12px;
    height: 12px;
    position: absolute;
    margin-top: 1px;
}

@media only screen and (max-width: 600px) {
    .userImage{
        width: 10px;
        height: 10px;
    }
    
}