.viewer{
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 20px;
}
.textViewer{    
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    color: var(--brown-grey);
    margin-left: 20px;
 
}


@media only screen and (max-width: 600px) {
    .viewer{
        font-size: 10px;
    }
    .textViewer{    
        font-size: 10px;  
        margin-left: 20px;
    }
}